<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{{ include('exchange/navbar.html.twig') }}
<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
</body>
</html>
